body{
    background-color: lightslategrey;
    color: lightgoldenrodyellow;
    background: url(media/wood-screen-backgrounds-wallpaper-preview.jpg);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: left;
    margin: 5%;
}


.resp{
    width: 100%;
    height: auto;
}

.dropzone{
    padding: 24px;
    border-style: dashed;
    font-size:36pt;
    width: 50%;
}
.dropzone.dragover{
    border-color: #000;
    color: #000;    
}
.controls{
    float: left; width: 30%; min-width: 150px; height: 100%;
}

.content{
    float: left; width: 60%; min-width: 500px; height: 100%;
}

@media only screen and (max-width: 600px){
    .controls{
        width: 100%
    }

    .content{
        width: 100%;
    }
}


button{
    color: wheat;
    background-color: inherit;
    border-color: inherit;
    size: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 border: solid wheat 3px;
    border-radius: 15%;
    padding: 2%;
    margin-top: 1%;;
}
